In [7]:
import pickle
import os
import pandas as pd

In [2]:
root = '/Users/vlad/SSBM/Replays/Test/'

In [5]:
with open(os.path.join(root, 'parsed.pkl'), 'rb') as f:
    db = pickle.load(f)

In [8]:
df = pd.DataFrame(db)

In [9]:
df.keys()

Index(['startAt', 'playedOn', 'lastFrame', 'slippi_version', 'num_players',
       'players', 'stage', 'timer', 'is_teams', 'winner', 'valid',
       'is_training', 'not_training_reason', 'name', 'md5', 'reason'],
      dtype='object')

In [10]:
invalid = df[df['valid'] == False]

In [11]:
invalid['reason'].value_counts()

reason
'P2'                                                                                                                                                                                                                                            2453
'P1'                                                                                                                                                                                                                                            1073
I/O error: failed to fill whole buffer                                                                                                                                                                                                             5
Needed to copy 1 chunks with 172 nulls, but zero_copy_only was True                                                                                                                                                                                2
Needed to copy 1 chunks with 12 nulls, but zero_copy_only was True                                                                                                                                                                                 2
                                                                                                                                                                                                                                                ...
Needed to copy 1 chunks with 266 nulls, but zero_copy_only was True                                                                                                                                                                                1
Needed to copy 1 chunks with 183 nulls, but zero_copy_only was True                                                                                                                                                                                1
Needed to copy 1 chunks with 3369 nulls, but zero_copy_only was True                                                                                                                                                                               1
Needed to copy 1 chunks with 61 nulls, but zero_copy_only was True                                                                                                                                                                                 1
called `Result::unwrap()` on an `Err` value: OutOfSpec("The children must have an equal number of values.\n                         However, the values at index 1 have a length of 1957, which is different from values at index 0, 1958.")       1
Name: count, Length: 85, dtype: int64

In [20]:
called = invalid[invalid['reason'].map(lambda s: s.startswith('called'))]

In [27]:
called = called.dropna(axis=1)
called

,valid,name,md5,reason
473,False,Falco vs Falcon (PS) 12.12.20217.37.19 PM.slp,b7e3b71e5c391fb850f7d670f112ea63,called `Result::unwrap()` on an `Err` value: O...
2379,False,Fox vs Fox (DL) 12.12.20218.02.45 PM.slp,59097a4ad00be49f02f81b14b3d27471,called `Result::unwrap()` on an `Err` value: O...
3415,False,Fox vs Samus (FD) 12.12.20216.56.52 PM.slp,2b93e271b72b4056249d2c959cae2325,called `Result::unwrap()` on an `Err` value: O...
3421,False,Fox vs Samus (YS) 12.12.20216.50.58 PM.slp,a53bf279dcfdf85386999a78b0d0d526,called `Result::unwrap()` on an `Err` value: O...

In [31]:
out = 'data/panic'
os.makedirs(out, exist_ok=True)

In [43]:
raw = os.path.join(root, 'Raw/Summit-004.zip')
assert os.path.exists(raw)

In [41]:
from slippi_db import utils
import subprocess

In [45]:
for name in called['name']:
    subprocess.check_call(
        ['unzip', raw, name, '-d', out],
        stdout=subprocess.DEVNULL)
    # zf = utils.ZipFile(raw, name)
    # with open(os.path.join(out, name), 'wb') as f:
    #     f.write(zf.read())

In [38]:
called['name'].iat[0]

' Falco vs  Falcon (PS) 12.12.20217.37.19 PM.slp'